<header class="site-header">
  <div class="wrapper site-header-inner">
    <div class="site-title">
      <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
    </div>

    <nav class="site-nav">
      <a class="page-link {% if page.url == '/' %}active{% endif %}"
         href="{{ "/" | relative_url }}">Blog</a>
      <a class="page-link {% if page.url == '/about/' %}active{% endif %}"
         href="{{ "/about/" | relative_url }}">About</a>
      <a class="page-link {% if page.url == '/contact/' %}active{% endif %}"
         href="{{ "/contact/" | relative_url }}">Contact</a>
    </nav>
  </div>
</header>