<header class="site-header">
  <div class="wrapper site-header-inner">
    <div class="site-title">
  <a href="{{ "/" | relative_url }}" class="site-title-link">
    <img
      src="{{ "/assets/images/avatar.png" | relative_url }}"
      alt="Sara Moreno"
      class="site-avatar"
    />
    <span>{{ site.title }}</span>
  </a>
</div>

    <nav class="site-nav">
      <a class="page-link {% if page.url == '/' %}active{% endif %}"
         href="{{ "/" | relative_url }}">Blog</a>
      <a class="page-link {% if page.url == '/about/' %}active{% endif %}"
         href="{{ "/about/" | relative_url }}">About</a>
      <a class="page-link {% if page.url == '/contact/' %}active{% endif %}"
         href="{{ "/contact/" | relative_url }}">Contact</a>
         <a class="page-link {% if page.url == '/tags/' %}active{% endif %}"
   href="{{ "/tags/" | relative_url }}">Tags</a>
    </nav>
  </div>
</header>