---
layout: default
---

<article class="post-content">
  <h1>{{ page.title }}</h1>

  <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>

  {% if page.tags %} {% assign sorted_post_tags = page.tags | sort %}
  <p class="post-meta">
    {% for tag in sorted_post_tags %}
    <a href="{{ '/tags/#' | append: tag | relative_url }}">#{{ tag }}</a>
    {% endfor %}
  </p>
  {% endif %} {{ content }}
  <hr />

  <section class="post-comments">
    <h2>Comments</h2>
    <script
      src="https://giscus.app/client.js"
      data-repo="sarawittel/sarawittel.github.io"
      data-repo-id="R_kgDORDaMhg"
      data-category="General"
      data-category-id="DIC_kwDORDaMhs4C2N81"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="en"
      crossorigin="anonymous"
      async
    ></script>
  </section>
</article>
